{% extends "base.html" %}

{% block content %}

  <div id="main-slider" data-ride="carousel" class="carousel slide">

    <ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
      <li data-target="#main-slider" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">

    	<img src="./static/img/slider/1.jpg" alt="first slide" width="100%">

      	  <div class="carousel-caption">

      	    <h3>
    	      <img src="./static/img/icon-performance.png" alt="Performance" class="img-circle" />
    	      <strong>Performance</strong>
    	    </h3>

      	    <p>
    	      <b>HippyVM</b> on average is <b>7.3x</b> faster than stock
    	      <b>PHP</b> and <b>2x</b> faster than Facebook's <b>HHVM</b>.
    	      Please check our benchmarks.
      	    </p>

      	    <a href="#performance" title="click to read more" class="btn btn-primary btn-lg">more</a>
      	  </div>
      </div>

      <div class="item">

    	<img src="./static/img/slider/2.jpg" alt="second slide" width="100%">

      	  <div class="carousel-caption">
      	    <h3>
    	      <img src="./static/img/icon-compatibility.png" class="img-circle">
    		Commercial and <strong>OpenSource</strong>
    	    </h3>
      	    <p>
    	      <b>HippyVM</b> will be released in both <b>OpenSource</b>
    	      as free of charge, available on <b>GitHub</b>,
    	      and <b>Commercial</b> with a production quality modules and support.
      	    </p>

    	    <a href="https://github.com/hippyvm/" target="_blank" title="github" class="btn btn-primary btn-lg">
	      github
	    </a>

      	  </div>
      </div>
    </div>

    <a href="#main-slider" data-slide="prev" class="left ctrl">&nbsp;</a>
    <a href="#main-slider" data-slide="next" class="right ctrl">&nbsp;</a>

  </div>


  <main class="clearfix">
    <section id="features" class="white">
      <div class="container text-center">

	<h1>
	  Features
	  <small>What Hippyvm can do</small>
	</h1>

	<div class="row">
	  <div class="col-md-3">

	    <figure class="round">
	      <img src="./static/img/icon-performance.png" alt="icon">
	    </figure>

	    <h2>Performance</h2>

	    <p>
	      <b>HippyVM</b> on average is <b>7.3x</b> faster than stock
	      <b>PHP</b> and <b>2x</b> faster than Facebook's <b>HHVM</b>.
	      Please check our benchmarks.
	    </p>
	  </div>

	  <div class="col-md-3">
	    <figure class="round">
	      <img src="./static/img/icon-compatibility.png" alt="icon">
	    </figure>
	    <h2>Compatibility</h2>
	    <p>
	      <b>HippyVM</b> is aimed at being 100% compatible with <b>Zend PHP</b>
	    </p>
	  </div>

	  <div class="col-md-3">
	    <figure class="round"><img src="./static/img/icon-stability.png" alt="icon"></figure>
	    <h2>Stability</h2>

	    <p>
	      <b>PyPy</b> proven technology guarantees high levels of stability
	    </p>
	  </div>

	  <div class="col-md-3">
	    <figure class="round"><img src="./static/img/icon-bridge.png" alt="icon"></figure>
	    <h2>Python Bridge</h2>

	    <p>
	      coming soon: a bridge to call <b>Python</b> from <b>PHP</b>
	    </p>
	  </div>

	</div>
      </div>
    </section>

    <section id="performance" class="gray">
      <div class="container text-center">

	<header>
	  <h1>Performance<small>How fast is HippyVM (lower is better)</small></h1>
	</header>

	<svg/>

	<p>
	  Relative speedup vs PHP, lower is better, normalized to Zend PHP 5.5.0
	</p>

      </div>
    </section>

    <section id="download" class="white">
      <div class="container container-700">
	<header class="text-center">
	  <h1>Open Source<small>Find the source code for HippyVM on GitHub</small></h1>
	</header>

        <div class="buttons">
	  <a href="https://github.com/hippyvm/" target="_blank" title="github" class="btn btn-default">Source Code</a>
	</div>

      </div>
    </section>

    <section class="gray">

      <div class="container container-700">
	<div id="mc_embed_signup">

	  <header>
	    <h1 class="text-center">Stay Tuned
	      <small>Interested in HippyVM?</small>
	    </h1>
	  </header>

	  <form action="http://hippyvm.us8.list-manage1.com/subscribe/post?u=583f9448f1951a0891fd48816&amp;id=9390c344f6"
		method="post" id="mc-embedded-subscribe-form"
		name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div>
		  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		</div>

		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;">
		  <input type="text" name="b_583f9448f1951a0891fd48816_9390c344f6" value="">
		</div>
		<div class="clear">
		  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</div>
	  </form>

	</div>
      </div>

    </section>

    <section id="about" class="white">
      <div class="container container-700">

	<header>
	  <h1>About us</h1>
	</header>

	<p>
	  HippyVM is an implementation of the  PHP  language using PyPy
	  technology. It  started off  as a  research project  by Maciej
	  Fijałkowski for Facebook,  and was later expanded.  As of now,
	  it contains  a reasonably fast and  complete implementation of
	  core the PHP  language,  including  implementation  of many PHP's
	  builtin modules (though not all,  yet). At present it does not
	  include  a  reasonable web  server  integration,  so it's  not
	  usable for use in production in the current form.
	</p>

	<p>
	  HippyVM is being developed by <a target="_blank" href="http://baroquesoftware.com/">Baroque Software</a>,
	  experts in the area of virtual machines.
	</p>

      </div>

    </section>

    <section id="people" class="gray">

      <div class="container container-630">

	<header>
	  <h1 class="text-center">People <small>Who make HippyVM</small></h1>
	</header>

	<div id="peoples-slider" data-ride="carousel" class="carousel slide">

	  <ol class="carousel-indicators">

	    <li data-target="#peoples-slider" data-slide-to="0" class="active"></li>
	    <li data-target="#peoples-slider" data-slide-to="1"></li>
	    <li data-target="#peoples-slider" data-slide-to="2"></li>
	    <li data-target="#peoples-slider" data-slide-to="3"></li>
	    <li data-target="#peoples-slider" data-slide-to="4"></li>
	    <li data-target="#peoples-slider" data-slide-to="5"></li>
	    <li data-target="#peoples-slider" data-slide-to="6"></li>

	  </ol>

	  <div class="carousel-inner">

	    <div class="item active clearfix" data-lat="-33.924869" data-lng="18.424055">
	      <img src="./static/img/avatars/maciej_fijalkowski.jpg" alt="Maciej Fijałkowski" class="img-circle" />
	      <div class="about">
		<strong>Maciej Fijałkowski</strong>
	      </div>
	    </div>

	    <div class="item clearfix" data-lat="46.6939619" data-lng="6.8835243">
	      <img src="./static/img/avatars/armin_rigo.jpg" alt="Armin Rigo" class="img-circle" />
	      <div class="about">
		<strong>Armin Rigo</strong>
	      </div>
	    </div>

	    <div class="item clearfix" data-lat="51.391381" data-lng="19.1629527">
	      <img src="./static/img/avatars/rafal_galczynski.jpg" alt="Rafał Gałczyński" class="img-circle" />
	      <div class="about">
		<strong>Rafał Gałczyński</strong>
	      </div>
	    </div>

	    <div class="item clearfix" data-lat="51.468489" data-lng="-2.5907094">
	      <img src="./static/img/avatars/ronan_lamy.jpg" alt="Ronan Lamy" class="img-circle" />
	      <div class="about">
		<strong>Ronan Lamy</strong>
	      </div>
	    </div>

	    <div class="item clearfix" data-lat="50.0467656" data-lng="20.0048731">
	      <img src="./static/img/avatars/sebastian_pawlus.jpg" alt="Sebastian Pawluś" class="img-circle" />
	      <div class="about">
		<strong>Sebastian Pawluś</strong>
	      </div>
	    </div>

	    <div class="item clearfix" data-lat="24.1236652" data-lng="82.6932594">
	      <img src="./static/img/avatars/ashfall.png" alt="Ashwini Oruganti" class="img-circle" />
	      <div class="about">
		<strong>Ashwini Oruganti</strong>
	      </div>
	    </div>

	    <div class="item clearfix" data-lat="51.503335" data-lng="-0.089740">
	      <img src="./static/img/avatars/edd.jpg" alt="Edd Barrett" class="img-circle" />
	      <div class="about">
		<strong>Edd Barrett</strong>
	      </div>
	    </div>

	  </div>
	</div>
      </div>
    </section>
  </main>
{% endblock %}
